.About{
    margin: 6rem;
    color: rgb(220, 220, 220);
}
.About-info{
    margin-left: 1rem;
    max-width: 45rem;
    color: rgb(190, 189, 189)
}
h1{
    font-weight: bold;
}
.button {
    border: 2px solid rgb(110, 109, 109);
    border-radius: 10px;
    filter: drop-shadow(4px 6px 10px #292929);
    padding: 0.5rem;
}
.button a{
    text-decoration: none;
    color: #fafafa;
}
.button a:hover{
    color: ivory;
}
.button .svg{
    margin-left: 5px;
    color: #fafafa;
    background: transparent;
    animation: doload infinite 0.5s;
}
@keyframes doload {
    from{
        transform: translateY(-70%);
    }
    to{
        transform: translateY(0%);
    }
}
.button:hover{
    filter: drop-shadow(1px 2px 3px #686767);
}
.space{
    margin: 2.5rem;
}
.About-cards{
    border: 3px solid #2e2d2d;
    border-radius: 5px;
    filter: drop-shadow(2px 4px 6px #2e2d2d);
    height: 200px;
    margin-top: 1rem;
}
.About-cards:hover{
    filter: drop-shadow(4px 5px 8px #2e2d2d);
    padding: 2px 2px 2px 2px;
    width: 350px;
    height: 210px;
    border-radius: 10px;
}
.About-card-header{
    background: #000;
    height: 150px;
}
.About-card-header-1{
    background: #000;
    height: 150px;
}
.About-card-header img{
    border-radius: 5rem;
    filter: drop-shadow(2px 4px 6px #2c2c2c);
    height: 150px;
    width: 150px;
    margin-left: 4.5rem;
}
.About-card-header-1 img{
    border-radius: 0;
    width: 150px;
    height: 150px;
    margin-left: 4.5rem;
    filter: drop-shadow(2px 4px 6px #2c2c2c);
}
.About-card-body{
    text-align: center;
}
.About-card-titles{
    font-weight: bold;
}
.skill{
    display: flex;
    margin-top: 20px;
}
.skills img{
    width: 70px;
    height: 80px;
}
.skills img:hover{
    width: 50px;
    height: 50px;
}
.skills{
    padding: 15px 4px 3px 4px;
    display: block;
    text-align: center;
    width: 70px;
    height: 150px;
    margin: 3rem;
}
.skills:hover{
    padding: 13px 2px 1px 2px;
    width: 60px;
    height: 100px;
}
.skills p{
    text-align: center;
    margin-top: 0.5rem;
}
.Django{
    font-size: 3.5rem;
    font-weight: 900;
    color: green;
}
@media (max-width: 768px) {
    .About-card-header img{
        margin-left: 9rem;
    }
    .About-card-header-1 img{
        margin-left: 9rem;
    }
}
@media (max-width: 480px) {
    .About-card-header img{
        width: 70px;
        height: 70px;
        margin: -0.5rem;
    }
    .About-card-header-1 img{
        width: 70px;
        height: 70px;
        margin: -0.5rem;
    }
}